In [100]:
import pandas as pd

def input_data():
    print('Vui long nhap so lieu vao!')
    print('ex1: So ma tran: 6, kich thuoc: 2 3 3 4 4 2 2 6 6 7 7 9')
    print('ex2(slide): So ma tran: 4, kich thuoc: 2 3 3 6 6 4 4 5')
    print('ex3(slide): So ma tran: 6, kich thuoc: 30 35 35 15 15 5 5 10 10 20 20 25')
    try:
        n = int(input('So ma tran:'))
        lst = input('kich thuoc:')
    except:
        print('Ban da nhap sai, hay chay lai!')
    lst = lst.split(' ')
    row = [0]
    col = [0]
    if len(lst)/2 != n:
        print('Ban da nhap thieu phan tu, vui long thu lai!')
    else:
        for i,j in enumerate(lst,1):
            if i % 2 != 0:
                row.append(int(j))
            else:
                col.append(int(j))
    return n, row, col

n, row, col = input_data()
df_value = pd.DataFrame(0, index = [i for i in range(1,n+1)], columns = [i for i in range(1,n+1)])
df_label = pd.DataFrame(0, index = [i for i in range(1,n+1)], columns = [i for i in range(1,n+1)], dtype = 'string')

def get_min(df_value, df_label, row, col, start, end):
    value = []
    label = []
    if start == end -1:
        value_min = row[start]*col[start]*col[end]
        label_min = '(A'+str(start)+'A'+str(end)+')'
        df_value.at[start, end] = value_min
        df_label.at[start, end] = label_min
    else:
        for k in range(start,end):
            if k==start:
                value_k = df_value.at[k+1,end] + row[start]*col[start]*col[end]
                label_k = '(A'+str(start)+df_label.at[k+1, end]+')'
            elif k == end-1:
                value_k = df_value.at[start,k] + row[start]*row[end]*col[end]
                label_k = '('+df_label.at[start, k]+'A'+str(end)+')'
            else:
                value_k = df_value.at[start,k] + df_value.at[k+1,end] + row[start]*col[k]*col[end]
                label_k = '('+df_label.at[start,k] + df_label.at[k,end]+')'
            value.append(value_k)
            label.append(label_k)
        idx = value.index(min(value))
        df_value.at[start,end] = value[idx]
        df_label.at[start,end] = label[idx]
    return df_value, df_label    

def get_optimal(df_value, df_label, row, col, i, n):
    for j in range(1,n-i+2):
        start = j
        end = j + i-1
        df_value, df_label = get_min(df_value, df_label, row, col, start, end)
    return df_value, df_label

def find_optimal(df_value, df_label, row, col, n):
    for i in range(2,n+1):
        df_value, df_label = get_optimal(df_value, df_label, row, col,i,n)
    return df_value, df_label

df_value, df_label = find_optimal(df_value, df_label, row, col, n)
df_value.head(n+1)

Vui long nhap so lieu vao!
ex1: So ma tran: 6, kich thuoc: 2 3 3 4 4 2 2 6 6 7 7 9
ex2(slide): So ma tran: 4, kich thuoc: 2 3 3 6 6 4 4 5
ex3(slide): So ma tran: 6, kich thuoc: 30 35 35 15 15 5 5 10 10 20 20 25
So ma tran:4
kich thuoc:2 3 3 6 6 4 4 5

   1   2   3    4
1  0  36  84  124
2  0   0  72  132
3  0   0   0  120
4  0   0   0    0

In [101]:
df_label.head(n+1)

   1       2           3               4
1  0  (A1A2)  ((A1A2)A3)  (((A1A2)A3)A4)
2  0       0      (A2A3)      ((A2A3)A4)
3  0       0           0          (A3A4)
4  0       0           0               0